.order_taxi_background{
    width:auto;
    height: 712px;
    background-image: url("../img/Rectangle 16.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.order_taxi_img{
    height: 265px;
    width: 795px;
    background-image: url("../img/Group.png");
    background-size: contain;
    margin-left: 35%;
    border-radius: 20px;
}
.order_taxi_img:hover{
    height: 260px;
    /* 260 */
    width: 790px;
    /* 790 */
}